:root {
    --backgroud-color: #FAF7FD;
    --text-color: #BB99DD;
    --container-btn-color: #000000;
    --btn-color: #F1F1F1;
}

body {
    background-color: var(--backgroud-color);
    height: 100vh;
}

header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    padding: 20px;
}

header>div {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--container-btn-color);
    width: 120px;
    padding: 5px 10px;
    border-radius: 50px;
    position: relative;
}

header>div>#btn-change-theme {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--btn-color);
    border: none;
}

header>div>img {
    max-width: 40px;
    max-height: 40px;
}

@media (max-width: 300px) {
    header>div {
        width: 110px;
        gap: 30px;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    height: 100vh;
}

main>#container-img {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.063rem;
    gap: 1rem;
}

main>#container-img>div {
    display: flex;
    justify-content: center;
    padding: 6px;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    background-color: var(--backgroud-color);
}

main>#container-img>div>img {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

main>#container-img>span {
    font-size: 1rem;
}

main>#container-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.25rem;

}

main>#container-link>ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

main>#container-link>ul>li>a {
    border: 2px solid var(--text-color);
    color: var(--text-color);
    padding: 0.75rem 8.75rem;
    border-radius: 4px;
}

main>#container-icons-links>ul {
    display: flex;
    gap: 1.813rem;
}

main>#container-icons-links>ul>li>a>img {
    width: 24px;
    height: 24px;
}

@media (max-width: 400px) {

    main>#container-link>ul>li>a {
        padding: 0.75rem 6.75rem;
    }
}

@media (max-width: 300px) {
    header>div>#btn-change-theme {
        width: 30px;
        height: 30px;
    }

    header>div>img {
        max-width: 30px;
        max-height: 30px;
    }

    main>#container-img {
        justify-content: center;
        align-items: center;
    }

    main>#container-img>div {
        display: flex;
        border-radius: 100%;
        width: 140px;
        height: 140px;
    }

    main>#container-img>div>img {
        border-radius: 50%;
        max-width: 130px;
        max-height: 130px;
        object-fit: cover;
    }

    main>#container-link>ul>li>a {
        padding: 0.75rem 3.75rem;
    }
}