body {
    background-color: #E5E5E5;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #BB99DD;
}

main>#container-img {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.063rem;
    gap: 1rem;
}

main>#container-img>div {
    display: flex;
    justify-content: center;
    padding: 6px;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #BB99DD;
    background-color: white;
}

main>#container-img>div>img {
    border-radius: 50%;
    max-width: 200px;
}

main>#container-img>span {
    font-size: 1rem;
}

main>#container-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.25rem;

}

main>#container-link>ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

main>#container-link>ul>li>a {
    border: 2px solid #BB99DD;
    color: #BB99DD;
    padding: 0.75rem 8.75rem;
    border-radius: 4px;
}

main>#container-icons-links>ul {
    display: flex;
    gap: 1.813rem;
}

@media (max-width: 400px) {

    main>#container-link>ul>li>a {
        padding: 0.75rem 6.75rem;
    }
}

@media (max-width: 300px) {
    main {
        margin: 4rem 0;
    }

    main>#container-img {
        justify-content: center;
        align-items: center;
    }

    main>#container-img>div {
        display: flex;
        border-radius: 100%;
        width: 160px;
        height: 160px;
    }

    main>#container-img>div>img {
        border-radius: 50%;
        max-width: 150px;
    }

    main>#container-link>ul>li>a {
        padding: 0.75rem 3.75rem;
    }
}